.itemPlacedModal__content{
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}
@media(min-width: 768px){
  .itemPlacedModal__img{
    max-width: 40%;
  }
}

.itemPlacedModal__img{
  display: block;
  border-radius: 5px;
}

.itemPlacedModal__title{
  margin-bottom: 10px;
}

.itemPlacedModal__subTitle{
  font-size: 14px;
  margin-top: 0;
}

.itemPlacedModal__skuName{
  font-size: 14px;
}

.itemPlacedModal__selectedQtyWrapper{
  font-size: 12px;
}

.itemPlacedModal__selectedQty{
  font-weight: 700;
  margin-left: 5px;
}

.itemPlacedModal__bottomBar{
  column-gap: 20px;
}
