.subscription__wrapper{
  background-color: transparent;
}

.subscription__helper{
  column-gap: 10px;
}

.modal__titleWrapper,
.modal__subtitle{
  text-align: center;
}

.content{
  column-gap: 10px;
  margin-top: 20px;
}

.modal__response{
  background-color: yellow;
  padding: 10px 15px;
  font-size: 12px;
}

.footer__message{
  font-size: 12px;
}

.footer__icon{
  width: 15px;
}

:global(.vtex-modal__modal) :global(.vtex-styleguide-9-x-shadowTransition){
  justify-content: center;
  align-items: center;
}
